<table class="card-table">
    <thead>
        <tr class="trtbl">
            <th>ID</th>
            <th>Number</th>
            <th>Device</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr class="trtbl1" ng-repeat="phone in filteredPhones">
            <td>{{ phone.Id }}</td>
            <td>{{ phone.Number }}</td>
           <td>{{ phone.Device.Name }}</td>
            <td><button class="btn btn-default" ng-click="openModal(phone)">Edit</button></td>
        </tr>
    </tbody>
</table>